.netvalCard .ant-pro-card-body {
  padding:  8px 15px 8px 15px !important;
}

.netwidCard>.ant-pro-card-body {
  padding: 12px 12px 5px 12px;
}

.netwder {
  margin: 5px 0 0 0;
}

.netipDiv {
  width: 100%;
  display: flex;
  align-items: center;
}

.matriIcon {
  cursor: pointer;
}

.matrixForm {
  height: 100%;
}

.retainButton {
  background-color: #FFF478;
  color:#666 !important;
}

.onlineButton {
  background-color: #12C189;
  color: #FFF !important;
}

.offlineButton {
  background-color: #BEBEBE;
  color:#666 !important;
}

.matrixButton {
  width: calc((100% - 16px) / 16);
  border-radius: 5px;
  margin-right: 1px;
	margin-bottom: 1px;
  padding: 1px 2px;
  height: 40px;
  display: inline-block;
  // height: calc(6.25% - 3.5px);
}

.shretaButton {
  background-color: #FFF478;
  border-radius: 5px;
  white-space: nowrap;
  padding: 4.5px 12px;
}

.shonliButton{
  background-color: #12C189;
  border-radius: 5px;
  color: #FFF;
  white-space: nowrap;
  padding: 4.5px 10px 4.5px 8px;
}

.shoffliButton {
  background-color: #BEBEBE;
  border-radius: 5px;
  color: #FFF;
  white-space: nowrap;
  padding: 4.5px 12px;
}

.showButton {
  padding: 4.5px 12px;
}

.matrixButton .iconfont {
  color: #FFF !important;
}

.mabuDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.icontopDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50%;
  align-items: center;
}

.iconbotDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50%;
  align-items: center;
}

.starbotDiv {
  display: flex;
  justify-content: flex-end;
}

.ri-radar-fill {
  font-size: 16px;
}

.lengenDiv {
  display: flex;
  align-items: center;
}

.assetTotDiv {
  width: 100%;
  display: flex;
  align-items: center;
}

.identDiv {
  width: 50%;
  display: flex;
  align-items: center;
}

.disidentDiv {
  width: 50%;
  display: flex;
  align-items: center;
}

.assicon {
  position: absolute;
  top: -10px;
}

.assetext {
  margin-bottom: 5px;
}

.flexDiv {
  display: flex;
  align-items: center;
  position: relative;
}

.resmaptext {
  position: absolute;
  left: 25px;
}

.probstaDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.probeDeployDiv {
  display: flex;
  align-items: center;
}

.iconTag {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  width: fit-content;
}

.starTag {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  width: fit-content;
}

.starTaFa {
  width: 130px;
}

.iconTagFa {
  width: 130px;
}

.botomsumDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.netCountDiv {
  cursor: pointer;
  font-size: 20px;
  color: #101010;
}

.matrixDiv {
  height: 100%;
  overflow-y: auto;
}

.mabuDiv .rtIcon span {
  color: #FFF !important;
}

// .ant-modal-close {
//   margin-top: 8px;
// }

.matrixForm button {
  cursor: default;
}
