.chseemodalfrom .ant-modal-body {
	padding: 0px;
}
.chseemodalfrom .ant-form-item {
    margin-bottom: 0px !important;
}
.chseemodalfrom .capplicationinformation {
	margin-left: 30px;
}
.chseemodalfrom .cfrommodalmargin {
	width:410px;
	margin-left: 56px;
}
.chseemodalfrom .cstepcard {
	border:1px #BCE0FC solid !important;
	background-color: #F7FBFE !important;
	padding-top: 5px;
	padding-bottom: 5px;
}
.chseemodalfrom .cardbox{
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	padding-right: 8px;
}
.chseemodalfrom .ciconbox > svg {
	font-size: 22px;
	margin-top: 5px;
	margin-right: 10px;
}
.chseemodalfrom .cassignmentinformationtable .ant-table.ant-table-middle .ant-table-title,
.chseemodalfrom .cassignmentinformationtable .ant-table.ant-table-middle .ant-table-footer,
.chseemodalfrom .cassignmentinformationtable .ant-table.ant-table-middle .ant-table-thead > tr > th,
.chseemodalfrom .cassignmentinformationtable .ant-table.ant-table-middle .ant-table-tbody > tr > td,
.chseemodalfrom .cassignmentinformationtable .ant-table.ant-table-middle tfoot > tr > th,
.chseemodalfrom .cassignmentinformationtable .ant-table.ant-table-middle tfoot > tr > td {
  padding: 7px 8px;
}
.ant-modal-body{
	padding-top: 0px !important;
}
.chseemodalfrom .ant-descriptions-row > th, .ant-descriptions-row > td {
    padding-bottom: 10px;
}
.chseemodalfrom .caddressalertinfo {
	border-radius: 5px;
	margin: 0px 80px 0px 80px;
}
.chapprovalmodalfrom .caddressalertinfo {
	border-radius: 5px;
	margin: 0px 80px 0px 80px;
}
.chseemodalfrom .capplicationinformation .ant-descriptions-item-container>.ant-descriptions-item-label {
	width: 80px;
	text-align: right;
	display: inline-block;
}
.chseemodalfrom .capplicationinformation .ant-descriptions-item-container span:nth-child(2) {
	display: inline-block;
	width: 80px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.chseemodalfrom{
	padding: 24px;
}
.chsaveform {
	width: 680px;
}
.caddformationbox {
	width: 500px;
	margin-left: 80px;
}
.caddformationbox .ant-descriptions-item-container {
    display: flex;
    align-items: center;
}
.caddformationbox .ant-descriptions-row:last-child .ant-descriptions-item-container {
    display: flex;
    align-items: flex-start;
}
.caddformationbox .ant-descriptions-item-content {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.chsaveform .ant-descriptions-item-container .ant-descriptions-item-label {
    width: 80px;
    text-align: right;
    display: inline-block;
}
.chapprovalmodalfrom .aapplicationinformations{
	width: 500px;
	margin-left: 63px;
}
.chapprovalmodalfrom{
	padding: 24px;
}
.chapprovalmodalfrom .buttonmargint{
	margin-left: 8px;
}
.chapprovalmodalfrom .alfrommodalmargin {
	width: 410px;
	margin-left: 56px;
}
.chapprovalmodalfrom .assignmentinformationtable .ant-table.ant-table-middle .ant-table-title,
.chapprovalmodalfrom .assignmentinformationtable .ant-table.ant-table-middle .ant-table-footer,
.chapprovalmodalfrom .assignmentinformationtable .ant-table.ant-table-middle .ant-table-thead > tr > th,
.chapprovalmodalfrom .assignmentinformationtable .ant-table.ant-table-middle .ant-table-tbody > tr > td,
.chapprovalmodalfrom .assignmentinformationtable .ant-table.ant-table-middle tfoot > tr > th,
.chapprovalmodalfrom .assignmentinformationtable .ant-table.ant-table-middle tfoot > tr > td {
  padding: 7px 8px;
}
.chapprovalmodalfrom .aapplicationinformations .ant-descriptions-item-container>.ant-descriptions-item-label {
	width: 68px;
	text-align: right;
	display: inline-block;
}
.callocationtable .ant-tag {
	margin-right: 0px;
}