.ant-radio-button-wrapper {
  padding: 0 27px !important;
}
.ant-tabs-tabpane > .ant-pro-card > .ant-pro-card-body {
  padding: 0!important;
}
.ant-form {
  position: relative;
}
.oddRow {
  background: #f2f2f2;
}
.evenRow {
  background: #fff;
}
.ant-table-thead tr th {
  background: #f2f2f2;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  z-index: 1;
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
}
.ant-radio-button-wrapper {
  border: 1px solid #1890ff;
  border-top-width: 1.02px;
  color: #1890ff;
}
.ant-radio-button-wrapper:first-child {
  border-left: 1px solid #1890ff;
  border-radius: 3px 0 0 3px;
}
.ant-form-item-control > div div:nth-child(2) {
  margin-left: 0 !important;
}
.ant-tabs-top > .ant-tabs-nav {
  margin: 0;
}
